<div class="container"><span class="lang-ko">NEST Lab · 동국대학교 의생명공학과 &nbsp;|&nbsp;
  <a href="mailto:jonguklee@dongguk.edu">jonguklee@dongguk.edu</a> &nbsp;|&nbsp;
  경기도 고양시 일산동구 동국로 32, 동국대학교 바이오메디캠퍼스 405호 &nbsp;|&nbsp; © 2026 NEST Lab</span><span class="lang-en">NEST Lab · Dept. of Biomedical Engineering, Dongguk University &nbsp;|&nbsp;
  <a href="mailto:jonguklee@dongguk.edu">jonguklee@dongguk.edu</a> &nbsp;|&nbsp;
  No. 405, Sangyoung Bio Hall, Dongguk University Biomedi Campus, 32 Dongguk-Ro, Ilsan Dong-Gu, Goyang-Si, Gyeonggi-Do &nbsp;|&nbsp; © 2026 NEST Lab</span></div>
